{% extends 'base.html' %}

{% block title %}PWForgot{% endblock %}

{% block content %}
    <form action="" method="post">
        {% for error in errors %}
            <p class="error-field">{{ error }}</p>
        {% endfor %}

        {% csrf_token %}
        {% for field in form %}
            <p class="body-text-color">
                {{ field.label_tag }}<br/>
                {{ field }}<br/>

                {% for error in field.errors %}
                    <p class="error-field">{{ error }}</p>
                {% endfor %}

                {% if field.help_text %}
                    <p><small class="help-field">{{ field.help_text }}</small></p>
                {% endif %}
            </p>
        {% endfor %}
        
        <input class="btn btn-primary button-text-color" type="submit">
        <a href="{% url 'login' %}">Back to login</a>
    </form>
{% endblock content %}