{% extends 'base.html' %}
{% load userdata_tags %}
{% load static  %}

{% block title %}Users{% endblock %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/datatables/datatables-media.css' %}">
	<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}">
{% endblock extra_styles %}

{% block extra_scripts %}
	<script src="https://code.jquery.com/jquery-1.12.1.js" integrity="sha256-VuhDpmsr9xiKwvTIHfYWCIQ84US9WqZsLfR4P7qF6O8=" crossorigin="anonymous"></script>
	<script src="{% static 'js/datatables/datatables-1.10.16.js' %}"></script>
	<script src="{% static 'js/datatable-control.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}
	<div class="wrapper">
		<h1 class="body-text-color">Users</h1>
		<a class="table-grid btn btn-primary button-text-color" tabindex="-1" href="{% url 'core:get-users' %}">All</a>
		{% include 'partials/alphabet.html' %}
		<div id="users" class="table-grid">
			<form method="post">
				{% csrf_token %}
				<table id="table-control" class="bordered gray">
					<thead>
						<tr>
							<th class="col22 blue">Username</th>
							<th class="col22 blue">Permission</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							{% if user.is_superuser %}
							{% else %}
								<tr id="{{ user.id }}">
									{% if user|check_permission:'admin' %}
										{% if request.user.is_superuser %}
											<td class="clickable-row {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">{{ user.username }}</td>
										{% else %}
											<td>{{ user.username }}</td>
										{% endif %}
									{% elif user.is_authenticated %}
										<td class="clickable-row {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">{{ user.username }}</td>
									{% endif %}
									
									{% if user|check_permission:'admin' %}
										{% if request.user.is_superuser %}
											<td class="clickable-row {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Admin</td>
										{% else %}
											<td>Admin</td>
										{% endif %}
									{% elif user.is_staff %}
										<td class="clickable-row {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Staff</td>
									{% else %}
										<td class="clickable-row {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Client</td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>
{% endblock %}
