{% extends 'base.html' %}
{% load userdata_tags %}

{% block title %}Users{% endblock %}

{% block content %}
	<div class="wrapper">
		<h1 class="body-text-color">Users</h1>
		<a class="table-grid btn btn-primary button-text-color" tabindex="-1" href="{% url 'core:get-users' %}">All</a>
		{% include 'partials/alphabet.html' %}
		<div id="users" class="table-grid">
			<form method="post">
				{% csrf_token %}
				<table id="users-table" class="bordered gray">
					<thead>
						<tr>
							<th class="col22 blue body-text-color">Username</th>
							<th class="col22 blue body-text-color">Permission</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr id="{{ user.id }}">
								{% if user.is_superuser %}
								{% elif user|check_permission:'admin' %}
									{% if request.user.is_superuser %}
										<td class="clickable-row body-text-color {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">{{ user.username }}</td>
									{% else %}
										<td class="body-text-color">{{ user.username }}</td>
									{% endif %}
								{% elif user.is_authenticated %}
									<td class="clickable-row body-text-color {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">{{ user.username }}</td>
								{% endif %}
								
								{% if user.is_superuser %}
								{% elif user|check_permission:'admin' %}
									{% if request.user.is_superuser %}
										<td class="clickable-row body-text-color {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Admin</td>
									{% else %}
										<td class="body-text-color">Admin</td>
									{% endif %}
								{% elif user.is_staff %}
									<td class="clickable-row body-text-color {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Staff</td>
								{% else %}
									<td class="clickable-row body-text-color {% if user.is_active == False %}error-field{% endif %}" data-href="{% url 'core:view-user' %}?id={{ user.id }}">Client</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>
{% endblock %}
