{% extends 'base.html' %}

{% block title %}Ban user{% endblock %}

{% block content %}
	<div class="wrapper">
		{% for item in user_values %}
			{% if item.is_active %}
				<h1 class="body-text-color">Set {{ item.username }} inactive?</h1>
			{% else %}
				<h1 class="body-text-color">Set {{ item.username }} active?</h1>
			{% endif %}
		{% endfor %}
		<div id="users">
			<table id="users-table" class="bordered gray table-margin">
				<div class="button-wrapper">
					<form id="form-table" method="post" class="page_form">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary button-text-color">Yes</button>
					</form>
					{% for item in user_values %}
						<button class="clickable-row btn btn-primary button-text-color" data-href="{% url 'core:view-user' %}?id={{ item.id }}">No</button>
					{% endfor %}
				</div>
			</table>
		</div>
	</div>
{% endblock %}
