{% extends 'layout.html' %}
{% load styledata_tags %}

{% block wrapper %}
	<body class="body-gradient">
		<header>
			{% if user.is_authenticated %}
				<nav class="navbar navbar-default navbar-gradient">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{% url 'core:home' %}"><img id="logo" src="{{ MEDIA_PREFIX }}images/logo.png"></a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								{% if user.is_superuser %}
									<li class="nav-item">
										<a class="nav-link navbar-text-color" href="{% check_switch %}">Switch</a>
									</li>
									<li class="nav-item">
										<a class="nav-link navbar-text-color" href="{% check_styles %}">Styles</a>
									</li>
								{% endif %}
								<li class="dropdown">
									{% if user.is_staff %}
										<a href="#" class="dropdown-toggle navbar-text-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User
										<span class="caret"></span></a>
										<ul class="dropdown-menu navbar-gradient">
											{% if perms.auth.admin or user.is_superuser %}
												<li><a class="navbar-text-color" role="menuitem" tabindex="-1" href="{% url 'core:create-staff' %}">Add</a></li>
											{% endif %}
											<li><a class="navbar-text-color" role="menuitem" tabindex="-1" href="{% url 'core:get-users' %}">List</a></li>
										</ul>
									{% endif %}
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle navbar-text-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}
									<span class="caret"></span></a>
									<ul class="dropdown-menu navbar-gradient">
										<li><a class="navbar-text-color" role="menuitem" tabindex="-1" href="{% url 'core:view-profile' %}">Profile</a></li>
										<li class="divider"></li>
										<li><a class="navbar-text-color" role="menuitem" tabindex="-1" href="{% url 'logout' %}">Logout</a></li>    
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			{% endif %}
		</header>
		<hr>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<hr>
		<!--Footer-->
			<footer class="page-footer font-small blue pt-4 mt-4">

				<!--Footer Links-->
				<div class="container-fluid text-center text-md-left"> 
					<div class="row footer-color">

						<!--First column-->
							<h5 class="text-uppercase footer-text-color">Footer Content</h5>
							<p class="footer-text-color">Footer content informatie</p>
						<!--/.First column-->

						<!--Second column-->
							<h5 class="text-uppercase footer-text-color">Info</h5>
							<ul class="list-unstyled">
								<p class="footer-text-color">...</p>
								<p class="footer-text-color">...</p>
								<p class="footer-text-color">...</p>
								<p class="footer-text-color">...</p>
						</div>
						<!--/.Second column-->
					</div>
				</div>
				<!--/.Footer Links-->

				<!--Copyright-->
				<div class="footer-copyright py-3 text-center footer-text-color footer-color">
					© 2018 Copyright: Basicoo 2018
					<a href="https://mdbootstrap.com/material-design-for-bootstrap/"></a>
				</div>
				<!--/.Copyright-->

			</footer>
		<!--/.Footer-->
	</body>
{% endblock %}
